.authRoot {
  max-width: 500px;
  width: 100%;
  display: flex;
  gap: 50px;
}

.authRoot section {
  width: 100%;
  padding: 20px;
  border: 2px solid #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  background: rgba(0, 0, 0, 0.3);
}

.inputField {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
  color: #fff;
}

.inputField input {
  padding: 10px;
  outline: none;
  border: none;
  border-bottom: 2px solid #fff;
  background-color: rgba(0, 0, 0, 0);
  font-size: 18px;
  color: #fff;
}

.authBtn {
  font-size: 18px;
  width: max-content;
  background-color: rgba(255, 255, 255, 0);
  border: 2px solid #fff;
  border-radius: 15px;
  color: white;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
.authBtn:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.authLink {
  margin-top: 15px;
  width: 100%;
  font-size: 15px;
  color: #fff;
  display: inline-block;
}

.error {
  color: red;
}
