.header {
  display: flex;
  align-items: center;
  height: 64px;
  background: rgba(0, 0, 0, 0.3);
  width: 100%;
  padding: 0 125px;
  gap: 30px;
}

.headerLink {
  color: white;
  font-size: 20px;
  text-decoration: none;
}

.headerLink:hover {
  transition: 0.2s;
  font-size: 25px;
}

.headerData {
  color: white;
  font-size: 20px;
}